div.search.search-page__form
  form(action="/search" method="GET")
    label: input(type="text" name="query" placeholder="Что ищем?" autocomplete="off")
    button.search__button.button.button--transparent(type="submit") Найти
