extends ../layout.pug

block content
  main
    section.search-page
      div.search-page__wrapper
        h1 Поиск
        include search-1.pug
        include search-2.pug
        include search-3.pug
