if results.length > 0
  div.search.search-page__form
    each result of results
      div.search__result
        time.search__date(datetime= result.createdDate) #{result.createdDate}
        a.search__link #{result.title}
